.App {
  text-align: center;
  background-color: rgb(234, 245, 241);
  min-height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.table-header-cell {
  font-weight: bold;
  background-color:#1976d2;
  padding: 10px; /* Example padding */
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
